.locationList {
    max-height: 85vh;
    overflow: auto;
}

@media (max-width: 64em) {
    .locationList {
        max-height: 45vw;
        margin-bottom: 20px;
    }

}

.forecast-title {
<<<<<<< HEAD
    color: #888888;
    font-family: 'Roboto', sans-serif;
=======
    color: white;
>>>>>>> 297ff11fc2bc261a159f72e736901baa7b728441
    padding-top: 15px;
    padding-bottom: 15px;
}